<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-clsprinter" version="0.0.1">
    <name>CLSPrinter</name>
    <description>Cordova Plugin for Citizen CL-S521 Printer</description>
    <license>Apache 2.0</license>
    <keywords>cordova,android,citizen,CL-S521,printer,label,qr,barcode</keywords>
    <repo>https://github.com/templatetuners/cordova-plugin-clsprinter.git</repo>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <js-module src="www/clsprinter.js" name="clsPrinter">
        <clobbers target="window.plugins.clsPrinter" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CLSPrinter">
                <param name="android-package" value="com.justapplications.cordova.plugin.CLSPrinter"/>
            </feature>
        </config-file>
        <source-file src="src/android/CLSPrinter.java" target-dir="src/com/justapplications/cordova/plugin" />
        <source-file src="src/android/CSJLabelLib_Android.jar" target-dir="libs" />
    </platform>
</plugin>